<div class="col-xs-8 col-xs-offset-2">
  <form (ngSubmit)="submitForm()" #myLoginForm="ngForm">
    <div ngModelGroup="user" #user="ngModelGroup">
      <div class="form-group" [ngClass]="{'has-error': myEmail.invalid && myEmail.touched}">
        <label>Email</label>
        <input type="email" class="form-control"
               ngModel
               required
               name="email"
               email
               #myEmail="ngModel"
        >
        <p *ngIf="myEmail.invalid && myEmail.touched">Введите корректный e-mail</p>
        <button (click)="addRandEmail()" type="button" class="btn btn-primary">add random email</button>
      </div>
      <div class="form-group" [ngClass]="{'has-error': myPass.invalid && myPass.touched}">
        <label>Пароль</label>
        <input type="password" class="form-control"
               ngModel name="pass"
               required
               #myPass="ngModel"
        >
        <p *ngIf="myPass.invalid && myPass.touched">Введите корректный пароль</p>
      </div>
      <p *ngIf="user.invalid && user.touched">invalid user</p>
    </div>
    <div class="form-group">
      <label>Выберите страну</label>
      <select class="form-control"
              [ngModel]="defaultCountry"
              name="country"
              required
      >
        <option value="ru">Россия</option>
        <option value="by">Белоруссия</option>
        <option value="ua">Украина</option>
      </select>
    </div>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input type="radio" [value]="ans.type"
               [ngModel]="defaultAnswer"
               name="answer"
               required
        > {{ans.text}}
      </label>
    </div>
    <button class="btn btn-success" type="submit"
            [disabled]="!myLoginForm.valid"
    >Сохранить
    </button>

  </form>

  <div *ngIf="isSubmited">
    <pre>
      {{formData | json }}
    </pre>
  </div>
</div>
